@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


/* Content to prevent overlap with navbar */
.content {
    margin-top: 100px; /* Adjust based on navbar height */
    padding: 20px;
    text-align: left;
}

h1.main{
    font-size: 28px;
    font-family: "Poppins";
    font-weight: bold;
}

p.main{
    font-family: "Poppins";
    font-weight: light;
    font-size: 20px;
    margin: 0;
}

p.main_intro{
    font-family: "Poppins";
    font-weight: light;
    font-size: 20px;
    margin: 0 0 1% 0;
}

li.etypes, li.step{
    font-size: 20px;
    margin: 1% 0 0 0;
}

li.sub-next{
    font-size: 18px;
}

li.sub-next u{
    font-weight: 500;
}

h4.main{
    font-weight: 500;
    margin: 1% 0 0 0;
}
